/* @import url(); */
.landing {
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(-45deg, #4fd1c5, #319795, #285e61, #1d4044);
    background-size: 400%, 400%;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0% {
        background-position: 0, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}

.landing-background {
    width: 100%;
    color: white;
    background: linear-gradient(-45deg, #1d4044, #285e61, #1d4044);
    background-size: 400%, 400%;
    animation: change 15s ease-in infinite;
}
@keyframes change {
    0% {
        background-position: 0, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
